<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    >
    <head th:replace="~{layout/layout :: head}">
        <title>Taller Llantas</title>
    </head>
    <body>
        <section th:fragment="userDate" class="h-100 h-custom gradient-custom-garage">
            <div class="container py-5 h-100"> 
                <form th:action="@{/garage/saveDate}" th:object="${clientDateDTO}" method="post">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <h3 class="fw-normal" style="color: #484744;">Agendar Cita</h3>
                                                <h3 class="fw-normal mb-5" style="color: #F47808;">Información Personal</h3>
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <input type="text" th:value="${identification}" class="form-control form-control-lg" readonly />
                                                                <label class="form-label" for="form3Examplev4">Identificación</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4 pb-2">
                                                        <div data-mdb-input-init class="form-outline">
                                                            <input type="text" th:value="${fullName}" class="form-control form-control-lg" readonly/>
                                                            <label class="form-label" for="form3Examplev2">Nombre</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4 pb-2">
                                                        <div data-mdb-input-init class="form-outline">
                                                            <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
                                                            <label class="form-label" for="form3Examplev3">Apellido</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <div data-mdb-input-init class="form-outline">
                                                        <input type="datetime-local" th:field="*{appointmentDate}" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplev4">Fecha y Hora</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-4 pb-2">
                                                        <select th:field="*{serviceType}" class="form-select form-select-lg">
                                                            <option value="1">Tipo Cita</option>
                                                            <option value="2">Mantenimiento Preventivo</option>
                                                            <option value="3">Reparación</option>
                                                            <option value="4">Instalación Accesorios</option>
                                                            <option value="4">Instalación Llantas</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 bg-custom-orange bg-gradient text-white">
                                            <div class="p-5">
                                                <h3 class="fw-normal mb-5">Información Motocicleta</h3>

                                                <div class="mb-5 pb-2">
                                                    <div data-mdb-input-init class="form-outline form-white">
                                                        <input type="text" th:field="*{brand}" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplea2">Marca</label>
                                                    </div>
                                                </div>
                                                <div class="mb-5 pb-2">
                                                    <div data-mdb-input-init class="form-outline form-white">
                                                        <input type="text" th:field="*{modelName}" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplea3">Modelo</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 mb-4 pb-2">
                                                        <div data-mdb-input-init class="form-outline form-white">
                                                            <input type="number" th:field="*{year}" class="form-control form-control-lg" min="1900" />
                                                            <label class="form-label" for="form3Examplea4">Año</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 mb-4 pb-2">
                                                        <div data-mdb-input-init class="form-outline form-white">
                                                            <input type="text" th:field="*{licensePlate}" class="form-control form-control-lg" />
                                                            <label class="form-label" for="form3Examplea5">Número de Placa</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"
                                                         data-mdb-ripple-color="dark">Agendar Cita</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section th:fragment="sidebar-admin-garage">
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sidebar-content">
                            <a th:href="@{/index}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline">Taller Moto Llantas Virtual</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a th:href="@{/index}" class="nav-link align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Reportes</span> </a>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Reporte Finanzas</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Reporte Ventas</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a th:href="@{/inventory}" class="nav-link px-0 align-middle">
                                        <i class="fa-solid fa-boxes-stacked"></i> <span class="ms-1 d-none d-sm-inline">Inventario</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/adminGarage}" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Órdenes Reparación</span></a>
                                </li>
                                <li>
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="fs-4 bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Finanzas</span></a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ingresos</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Egresos</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Productoss</span> </a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Llantas</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Aceites</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Terminales</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Accesorios</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a th:href="@{/users}" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Empleados</span> </a>
                                </li>
                            </ul>
                            <hr>
                                <div class="dropdown pb-4">
                                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                            <span class="d-none d-sm-inline mx-1">Diego</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                        <li><a class="dropdown-item" href="#">Nueva órden reparación</a></li>
                                        <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <section th:replace="~{garage/fragments :: garage-jobs}"/>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="garage-jobs">
            <div class="container-fluid py-1">
                <div class="row">
                    <div class="col">
                        <ul id="mobile-kanban-menu" class="nav nav-underline border-bottom border-1 mb-3 px-2 justify-content-between px-sm-3 d-md-none" role="tablist">
                            <li class="nav-item" role="presentation"><button id="queue-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#queue-panel" type="button" role="tab" aria-controls="queue-panel" aria-selected="true">Nuevos</button></li>
                            <li class="nav-item"><button id="serving-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#serving-panel" type="button" role="tab" aria-controls="serving-panel" aria-selected="false">En Proceso</button></li>
                            <li class="nav-item"><button id="completed-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#completed-panel" type="button" role="tab" aria-controls="completed-panel" aria-selected="false">Completados</button></li>
                            <li class="nav-item"><button id="cancelled-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#cancelled-panel" type="button" role="tab" aria-controls="cancelled-panel" aria-selected="false">Cancelados</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row gx-0 gy-1 gx-md-3 row-cols-1 row-cols-md-4 tab-content d-md-flex" style="height: 90vh;">
                    <div id="queue-panel" class="droppable-container col align-items-stretch tab-pane show pe-0 fade d-md-flex active kanban-col" role="tabpanel" tabindex="0">
                        <div class="card border-0 pb-3 w-100">
                            <div class="card-body p-0">
                                <div class="justify-content-between m-3 mb-4 d-none d-md-flex">
                                    <h6 class="fs-5 fw-normal text-dark mb-2">Nuevos</h6><svg class="bi bi-three-dots-vertical" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                    </svg>
                                </div>
                                <div class="px-md-2 kanban-column pt-2 me-0 pe-1 me-md-1" style="/*max-height: calc(100vh - 150px);*//*overflow-y: auto;*/">
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="1">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Honda CB650R</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span class="badge bg-secondary me-2">1/3</span><span>Ingresado hace 10 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/13.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Rodrigo Montero</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="2">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-0">Kawasaki ZX6R</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 25 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="3" >
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Freedom ZS200</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 30 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="4" >
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Honda CBR500</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 5 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="5" >
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Yamaha R3</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 2 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Michael Solano</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="serving-panel" class="droppable-container col align-items-stretch tab-pane fade d-md-flex kanban-col pe-0" role="tabpanel" tabindex="0">
                        <div class="card border-0 pb-3 w-100">
                            <div class="card-body p-0">
                                <div class="justify-content-between m-3 mb-4 d-none d-md-flex">
                                    <h6 class="fs-5 fw-normal text-dark mb-2">En Progreso</h6><svg class="bi bi-three-dots-vertical" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                    </svg>
                                </div>
                                <div class="px-md-2 kanban-column pt-2 me-0 pe-1 me-md-1" style="/*max-height: calc(100vh - 150px);*//*overflow-y: auto;*/">
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="7">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-0">Yamaha R1</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 35 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="6">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Hero Hunk 200</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span class="badge bg-secondary me-2">2/3</span><span>Ingresado 45 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/13.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Rodrigo Montero</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="8">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Aprilia RS 660</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 50 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="9">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Kawasaki Z400</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 60 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="10">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Ducati Monster 821</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Ingresado hace 5 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Michael Solano</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="completed-panel" class="droppable-container col align-items-stretch tab-pane fade d-md-flex kanban-col pe-0" role="tabpanel" tabindex="0">
                        <div class="card border-0 pb-3 w-100">
                            <div class="card-body p-0">
                                <div class="justify-content-between m-3 mb-4 d-none d-md-flex">
                                    <h6 class="fs-5 fw-normal text-dark mb-2">Completado</h6><svg class="bi bi-three-dots-vertical" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                    </svg>
                                </div>
                                <div class="px-md-2 kanban-column pt-2 me-0 pe-1 me-md-1" style="/*max-height: calc(100vh - 150px);*//*overflow-y: auto;*/">
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="15">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Benelli TNT 250</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Finalizado hace 12 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Michael Solano</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="11">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">KTM Duke 200</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span class="badge bg-secondary me-2">3/3</span><span>Finalizado hace 20 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/13.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Rodrigo Montero</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="12">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-0">Suzuki Gixxer 155</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Finalizado hace 10 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="13">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Husqvarna 701</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Finalizado hace 5 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="14">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Triumph Daytona 675R</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Finalizado hace 2 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cancelled-panel" class="droppable-container col align-items-stretch tab-pane fade d-md-flex kanban-col" tabindex="0" role="tabpanel">
                        <div class="card border-0 pb-3 w-100">
                            <div class="card-body p-0">
                                <div class="justify-content-between m-3 mb-4 d-none d-md-flex">
                                    <h6 class="fs-5 fw-normal text-dark mb-2">Cancelado</h6><svg class="bi bi-three-dots-vertical" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                    </svg>
                                </div>
                                <div class="px-md-2 kanban-column pt-2 me-0 pe-1 me-md-1" style="/*max-height: calc(100vh - 150px);*//*overflow-y: auto;*/">
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="16">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Aprilia RSV4</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Cancelado hace 20 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/13.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Rodrigo Montero</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="17">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-0">CFMoto NK400</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Cancelado hace 10 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="18">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">GAS GAS 700</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Cancelado hace 5 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="19">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">BMW GS 1200</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Cancelado hace 23 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/26.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Josué Soto</span></div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 kanban-card" draggable="true" data-id="20">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-muted mb-2">Ducati Multistrada V4</h5>
                                                <div class="dropdown"><button class="btn btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" aria-haspopup="true"></button>
                                                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Mover a En Progreso</a><a class="dropdown-item" href="#">Mover a Completado</a><a class="dropdown-item" href="#">Mover a Cancelado</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><strong>Detalles</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info mb-2"><span>Cancelado hace 60 minutos </span></div>
                                            <div class="bg-secondary-subtle border rounded-pill d-flex align-items-center" style="padding: 2px;width: fit-content;"><img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="22" style="margin: 1px;" /><span class="text-secondary ms-1 me-3" style="font-size: 0.9em;">Michael Solano</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </body>
</html>
