<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/layout :: head}">
        <title>Moto Llantas</title>
        <meta charset="UTF-8"/>
    </head>

    <body sec:authorize="hasRole('MECANICO')">
        <div class="fixed top-5 right-5 z-50" id="toastContainer">
            <!-- Aquí Thymeleaf sigue funcionando para mensajes del lado del servidor -->
            <div th:if="${mensajeError}" class="toast-message bg-red-500 text-white px-4 py-3 rounded shadow-lg mb-4 animate-fade-in-out">
                <p th:text="${mensajeError}"></p>
            </div>
            <div th:if="${mensajeExito}" class="toast-message bg-green-500 text-white px-4 py-3 rounded shadow-lg animate-fade-in-out">
                <p th:text="${mensajeExito}"></p>
            </div>
        </div>
        <header th:replace="~{layout/layoutAdmin :: header}"/>

        <aside th:replace="~{layout/layoutAdmin :: sidebar}"/>

        <main class="ml-64 p-6">
            <section th:replace="~{garage/fragments :: mechanicServices}"/>
        </main>
        <script th:src="@{/js/scripts.js}"></script>
    </body>

</html>
