<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/layout :: head}">
        <title>Moto Llantas</title>
        <meta charset="UTF-8"/>
    </head>
    <body class="flex-col min-h-screen">
        <header th:replace="~{layout/layout :: header}"/>


         <section th:replace="~{catalog/fragments :: filterProducts}"></section>

         <section th:replace="~{catalog/fragments :: catalog}"></section>

        <footer th:replace="~{layout/layout :: footer}"/>
    </body>
</html>
